{
  "plugins": ["prettier", "react-hooks"],
  "extends": [
    "react-app",
    "plugin:mdx/recommended",
    "@tecsinapse/tecsinapse-js"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".mdx"]
      }
    ]
  }
}
