language: node_js
node_js:
  - 12
script:
  - yarn storybook:build
  - yarn build
  - yarn test

cache:
  yarn: true
deploy:
  - provider: pages
    skip-cleanup: true
    local-dir: docs
    github-token: $GITHUB_TOKEN
    keep-history: false
    on:
      tags: true
notifications:
  email:
    - lip@tecsinapse.com.br
